.fixed-top.scrolled {
  background-color: black;
}

/* body{ */
  /* background-image: url("./assets/clay-banks-u27Rrbs9Dwc-unsplash.jpg"); */
  /* filter: blur(2px); */
/* } */

.sector{
  /* background-color: white;
  height: 100%; */
  padding-top: 5%;
  margin-bottom: 10%;
}

.welcome{
  background-image: url("./assets/main/clay-banks-u27Rrbs9Dwc-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background: cover;
  height: 100vh;
}

.welcome-content{
  color: white;
  padding-top: 18%;
}

.desc{
  font-size: 1.25em;
}
.nav-item{
  color: rgba(255,255,255,.5);
  /* font-size: 1em; */
}

.nav-link{
  background: none;
  border: 0;
}

.nav-link:focus{
  outline:none;
}

#skills{
  height: 100vh;
  background-color: rgba(233, 233, 233, 0.5);
}

.title{
  margin-bottom: 30%;
  font-size: 20px;
}

#hexagon {
  width: 120px;
  height: 70px;
  background: #04C2C9;
  position: relative;
  display: inline-block;
  /* margin: 30px 10px; */
  margin-bottom: 20%;

}
#hexagon::before {
  content: "";
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 28.8675px solid #04C2C9;
}
#hexagon::after {
  content: "";
  position: absolute;
  bottom: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 28.8675px solid #04C2C9;
}

.redux{
  height: 60px;
  width: 60px;
}

.mongodb{
  height: 60px;
  width: 60px;
}

.restapi{
  height: 80px;
  width: 80px;
}

.skills-icon{
  margin: 10px 0;
  color: white;
  font-size: 3.5em;
}

#projects{
  height: 100vh;
  background-color: rgb(199, 199, 199, 0.5);
  padding-top: 2%;
}

.card:hover{
  box-shadow: 3px 5px 30px rgb(0, 0, 0, 0.7);
}

.card-body{
  height: 250px;
}

#contact{
  height: 100vh;
  background-color: rgb(37, 41, 52);
  color: white;
}

.details{
  font-size: 20px;
  padding: 10px 0;
  margin-left: 33%;
}

.contact-icon{
  font-size: 2rem;
  padding: 10px 10px;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #1a2025;
}

.contact-icon:hover{
  background-color: #04C2C9;
}